@import "tailwindcss";

.container-custom {
    width: 90%;
    max-width: 1700px;
    margin-inline: auto;
}

.section-margin {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.image-hover-zoom {
    overflow: hidden;
}

.image-hover-zoom img {
    transition: transform .5s ease-in-out;
}

.image-hover-zoom:hover img {
    transform: scale(1.1);
}